In [69]:
import pandas as pd
import tensorflow as tf
import os

import numpy as np

df =pd.read_csv("F:\churn-modelling\churn-modelling.csv")
df = pd.concat([df,pd.get_dummies(df['Geography'], prefix='country')],axis=1)
df['Gender'] = pd.Categorical(df['Gender'])
df['Gender'] = df.Gender.cat.codes
df = df.drop(["RowNumber", "CustomerId", "Surname",'Geography'], axis=1)
df = df[['CreditScore','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','country_France','country_Germany','country_Spain','Class/Exited']]

df.head()
target = df.pop('Class/Exited')
target
df.values
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))
dataset
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,country_France,country_Germany,country_Spain,Class/Exited
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0,1
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0,1
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1,0

RuntimeError: __iter__() is only supported inside of tf.function or when eager execution is enabled.